.for-print {
    display: none;
}

@page {
    size: A4;
    margin: auto;
}

@media print {
    .containermain {
        display: none;
    }
    .testa {
        border: 1px;
        background-color: black;
    }
    .for-print {
        display: block;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .for-print-vald {
        background-color: #444;
    }
    .for-print-ejvald {
        background-color: white;
    }
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

* {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact !important;
    /* Chrome, Safari */
    color-adjust: exact !important;
    /*Firefox*/
}

@media screen and (min-width: 601px) {
    div.grid-container {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    div.grid-container {
        font-size: 13px;
    }
}

.containermain {
    width: 100%;
    margin: auto;
    overflow: auto;
    position: relative;
}

.introtext {
    width: auto;
    margin: auto;
}

.container {
    width: auto;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 17.0%;
    grid-gap: 0px;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    /*background-color: #94c11f;
    border-radius: 15px;*/
}

.grid-container>div {
    background-color: #eee;
    padding: 0px 0;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.01rem solid #f8ffe6;
    text-align: center;
    cursor: pointer;
}

.pagecontainer {
    width: auto;
    margin: auto;
}

/*
    Pages css
*/

.maincontainer {
    border: solid 1px #c4c4c4;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}

.headerp {
    color: #000;
    padding: 5px 10px 5px 20px;
    margin-bottom: 10px;
    border-radius: 0px 0px 15px 15px;
}

.headerpages {
    width: auto;
    margin: auto;
    /*background-color: #8b8b8b;*/
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.containerpages {
    width: auto;
    margin: auto;
    padding: 25px;
    background-color: #eee;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #8b8b8b;
    padding: 10px 20px 10px 20px;
    color: #000;
    border-radius: 15px;
    margin-top: 10px;
}

/*'
    Page 6 - Dina svar
*/

.dinaSvarBorderWithHeader {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
    font-weight: bold;
}

/*
    Page 1 accordion css
*/

.accordioncontainer {
    width: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 18px;
    font-weight: bold;
}

/* 
    Add a background color to the button if it is clicked on (add the .active class with JS), 
    and when you move the mouse over it (hover)
*/

.active, .accordion:hover {
    background-color: #ccc;
}

/* 
    Style the accordion panel. 
    Note: hidden by default 
*/

.panel {
    padding: 0 0 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

button.accordion::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active::after {
    content: "\2212";
}

/*
    Page 1 accordion css end
*/

/* 
    Page 2 css
*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/*.grid-containerpage2 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
}

.grid-containerpage2>div {
    border: 1px solid #b3b3b3;
    text-align: left;
    padding: 10px;
}*/

/*
    Pages css end
*/

/*
    Page 3 css
*/

.containerslidetext {
    width: auto;
    margin: auto;
}

.grid-topslidetext {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #eee;
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 0px 0px;
}

.grid-topslidetext>div {
    font-weight: bold;
    margin-bottom: 10px;
}

.containerSlide {
    width: auto;
    margin: auto;
}

@media screen and (max-width: 600px) {
    div.grid-containerSlide {
        padding: 0;
        word-wrap: break-word;
    }
}

.grid-containerSlide {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 0px 55px 0px 55px;
    margin-bottom: 0px;
    background-color: #eee;
}

.grid-middle {
    display: grid;
    grid-template-columns: auto auto;
}

.containerfooter {
    width: auto;
    margin: auto;
}

.grid-footerSlide {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #eee;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 15px 15px;
}

.grid-footerSlide>div {
    font-weight: normal;
    text-align: left;
}

.containertoptextSlide {
    width: auto;
    margin: auto;
    margin-bottom: 10px;
}

.grid-toptextSlide {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /*background-color: #eee;*/
    padding: 10px 10px 10px 10px;
}

.grid-toptextSlide>div {
    font-weight: normal;
}

.vald {
    background-color: #94c11f;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(141, 183, 31);
    padding: 20px 0;
    /*background: rgb(227,227,227);
    background: linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(253,255,255,1) 50%, rgba(227,227,227,1) 100%);*/
}

.ejvald {
    background-color: #e2e2e2;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgb(215, 215, 215);
    padding: 20px 0;
}

.leftmiddle {
    border-right: solid 1px #000;
    background-image: url(button-middle-left.png);
    background-position: right;
}

.rightmiddle {
    border-left: solid 1px #000;
    background-image: url(button-middle-right.png);
    background-position: left;
}

hr {
    border: 1px solid #e0e0e0;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/*
    Slide end css
*/